@font-face {
    font-family: odinFont;
    src: url(Norse-Bold.otf);
}

* {
    box-sizing: border-box;
  }

html, body {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: 100wv;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}


.sidebg {
    background-image: url(.././form-project/images/bg-image.avif);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 40%;
}

.logo-holder {
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: odinFont;
    font-size: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    height: 100px;
    width: auto;
}

.logo-text {
    padding-top: 15px
}

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-width: 60%;
}

.header-text {
    font-size: 18px;
    font-weight: 550;
    padding: 16px;
    padding-bottom: 0px;
}

.header-text-add {
    font-size: 18px;
    font-weight: bold;
    padding-left: 16px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.form-div {
    border: 0;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15 );
    width: 100%;
}

label {
    font-size: 8px;
    font-weight: bolder;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1 );
    width: 175px;
}

input:focus{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15 );
    border: 1px solid blue;
}

input:focus-visible {
    outline: 0;
}

.form-title {
    font-size: 18px;
    padding: 12px;
}

.div-row {
    display: flex;
    gap: 48px;
}

.div-element {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.container {
    background-color: #F9F9F9;
    padding: 16px;
}

a {
    color: darkolivegreen;
    font-weight: bolder;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  button {
    margin-top: 16px;
    margin-left: 16px;
    color: white;
    background-color: darkolivegreen;
    padding: 10px 36px;
    border-radius: 6px;
    box-shadow: none;
    border: 0px; 
  }

  .login {
      margin-left: 16px;
  }

  #password:invalid, #password-confirmation:invalid {
      border: 1px solid red;
  }

  input:invalid {
    border: 1px solid red;
}

input:invalid, span.error-message {
    color: red;
    font-size: 10px;
    display: block;
}

